
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}
.container{
    background-color:#0d0f12;
    height:100vh;
    display:flex;
}
.container .login-section{
    width:50%;
    height:100%;
    padding:40px 60px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.container .login-section img{
    height:60px;
    width:300px;
    margin-left:110px;
    margin-bottom: 50px;
    margin-top:-20px;
}
.container .login-section h4{
    font-weight: 200;
    margin-bottom: - 20px;
    color:white;
}
.container .login-section input{
        background:none;
        border: 1px solid #777e81;
        height:60px;
        margin-bottom: 20px;
}
.container .login-section .signin-btn{
    height:50px;
    background:#0074ab;
    font-size:16px; 
    color:white;
    margin-bottom: 40px;
    border:none;
}
.container .login-section .creat-btn{
    height:60px;
    font-size:16px;
    margin-top:20px;
    background-color:#2d3137;
    color:white;
    border:none;
}

hr{
    height:;
}
.container .login-section .forgot{
    margin-left:200px;
    font-size: 15px;
    margin-bottom:20px;
    text-decoration: none;
    color:#219fd4;
}
.container .login-section .sign{
    margin-left:150px;
    margin-bottom:20px;
    font-size:15px;
    text-decoration: none;
    color: #219fd4;
}
.container .login-section .terms{
    margin-left:180px;
    color:#9cb79e;
}
.container .login-section .terms a{
    color:#9cb79e;
    font-size:13px;
}
.container .login-section p{
    color:#9cb79e;
    padding-left:100px;
    margin-top: 50px;
    font-size:13px;
}

.container .image-section{
    background:rgb(29, 29, 29, 0.6);
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container .image-section .try-btn{
    width:140px;
    height:50px;
    border:none;
    color:white;
    font-size:16px;
    font-weight: 300;
    background: #ff1675;
    border-radius:5px;
    margin-top: -110px;
    margin-left:250px;
}

/* responsive section starts  */

@media (max-width:768px){
   .container .image-section{
        display:none;
    }

    .container .login-section{
        width:100%;
        height:140vh;
        background-color: black;
    }

}